
window, body, #prompt {
	font-family: Verdana;
	font-size: 12px;
}

.table
{
	border-top: 0;
	border-left: 0;
	border-bottom: solid #eeeeee 1px;
	border-right: solid #eeeeee 1px;
}

.table td
{
	vertical-align: top;
	border-bottom: 0;
	border-right: 0;
	border-top: solid #eeeeee 1px;
	border-left: solid #eeeeee 1px;
}

.table th
{
	border-bottom: 0;
	border-right: 0;
	border-top: solid #eeeeee 1px;
	border-left: solid #eeeeee 1px;
}

#command {
    width: 100%;
    background-color: #eeeeee;
}

#title {
    font-size: 40px;
    font-family: Courier New, Courier;
    font-weight: bold;
}

.dict {
	border: solid #aaaaaa 1px;
}

.dict th {
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    text-align: left; 
    vertical-align: top;
	border: solid #aaaaaa 1px;
}

.dict td {
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    text-align: left; 
    vertical-align: top;
	border: solid #aaaaaa 1px;
}

.list {
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
}
